{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <style>  body {
	 background-color: white;
}


</style>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700"
      xmlns="http://www.w3.org/1999/html">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

{% endblock %}

{% block title %}Edit Movies{% endblock %}

{% block content %}
        <div class="left">
            <h1 style=" color:black"  class = "text-center">Movie Name: {{ movie.title }} </h1>
            <p class="left description ">{{ wtf.quick_form(form) }}</p>
        </div>


{% endblock %}